page-special-learn {
    #passage-learn {
        position: relative;
        .en,
        .cn {
            text-align: justify;
        }
        .switch-trans-btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    ion-list {
        ion-item {
            h2 {
                margin-top: 0 !important;
            }
            .progress-bar {
                background: #C9C9C9;
                height: 5px;
                margin: 5px 0 0 0;
                border-radius: 50px;
                overflow: hidden;
                width: 60%;
                .bar-content {
                    background: map-get($colors, 'primary');
                    height: 100%;
                }
            }
        }
    }
}