<ion-header>
  <ion-navbar>
    <ion-title>范文语块学习</ion-title>
    <ion-buttons end (click)="showAlert($event)">
      <button ion-button icon-only color="royal">
        <ion-icon name="md-bulb" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-item>
  <ion-label>高亮部分</ion-label>
  <ion-select [(ngModel)]="notifications" interface="action-sheet">
    <ion-option value="enable">核心语块</ion-option>
    <ion-option value="mute">结构</ion-option>
  </ion-select>
  </ion-item> -->
  <!-- <div *ngIf="true">
    <div id="passageEn" [innerHTML]="passageHTml">
    </div>
    <div id="passageCn" [innerHTML]="passageCn" [hidden]="!showCn">
    </div>
  </div> -->
  <div id="alternative" style="height:100%;">
    <div style="height:50%;overflow:scroll">
      <div id="passageEn" [innerHTML]="passageHTml">
      </div>
      <div id="passageCn" [innerHTML]="passageCn" [hidden]="!showCn">
      </div>
    </div>
    <div style="height:50%;overflow:scroll;border-top:2px solid #666;">
      <div padding>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="note">
            笔记
          </ion-segment-button>
          <ion-segment-button value="chunk">
            语块
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="pet">
        <div id="note-page" *ngSwitchCase="'note'" style="position:relative;top:0">
          <div class="side-page-content">
            <h4 style="text-align:center">笔记区</h4>
            <textarea cols="40" rows="5" *ngIf="false"></textarea>
            <div style="text-align:center;">
              <a ion-button outline small icon-left center (click)="sentenceMaking('note')">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
                添加笔记
              </a>
            </div>
            <h6>重点解析：</h6>
            <div class="sentence-item">
              <p>典型的三段式结构。首段,描述图画信息,释义绿色出行;拓展段,具体论述为什么要绿色出行以及 绿色出行所带来的好处;结尾段,发表自己的观点,强调指出每一个人都要重视绿色出行。
              </p>
            </div>
            <h6>
              <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> 推荐用户笔记：</h6>
            <div class="sentence-item">
              <p>Green commuting has many advantages.这句话指出了绿色出行有很多好处。紧接着下文用了 On the one hand. On the other hand.以及 In adition来具体阐述绿色出行的三个好处,行文结构明确清晰。
              </p>
              <p class="color-gray user-name"><span class="from">来自：用户@stupid</span><span>220 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
            </div>
            <div class="sentence-item">
              <p>Green commuting refers to a travel way with the minimal environmental impact.本句话是对“绿色出行”的 简单释义,用到了 referto这一短语。with引导的是方式状语。</p>
              <p class="color-gray user-name"><span class="from">来自：用户@lofj</span><span>120 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
            </div>
          </div>
        </div>
        <div id="chunk-page" *ngSwitchCase="'chunk'" style="position:relative;top:0">
          <div class="side-page-content">
            <h4 style="text-align:center">语块区</h4>
            <ion-icon ios="ios-settings" md="md-settings" (click)="toggleEditChunk()"></ion-icon>
            <h6>我的语块：</h6>
            <ul class="chunk-list">
              <li *ngFor="let chunk of myChunks">
                <span>{{chunk.cn}}<br>{{chunk.en}}</span>
                <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
              </li>
            </ul>
            <h6>推荐语块：</h6>
            <ul class="chunk-list">
              <li *ngFor="let chunk of chunks">
                <span>{{chunk.cn}}<br>{{chunk.en}}</span>
                <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- <div id="note-page" [ngStyle]="{'right': deviceWidth+'px','width': deviceWidth-50+'px'}">
  <div class="side-page-content" padding>
    <h4>笔记区</h4>
    <textarea cols="40" rows="5"></textarea>
    <div style="text-align:center;">
      <a ion-button outline small icon-left center (click)="sentenceMaking('note')">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
        添加笔记
      </a>
    </div>
    <h6>重点解析：</h6>
    <div class="sentence-item">
      <p>典型的三段式结构。首段,描述图画信息,释义绿色出行;拓展段,具体论述为什么要绿色出行以及 绿色出行所带来的好处;结尾段,发表自己的观点,强调指出每一个人都要重视绿色出行。
      </p>
    </div>
    <h6>
      <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> 推荐用户笔记：</h6>
    <div class="sentence-item">
      <p>Green commuting has many advantages.这句话指出了绿色出行有很多好处。紧接着下文用了 On the one hand. On the other hand.以及 In adition来具体阐述绿色出行的三个好处,行文结构明确清晰。
      </p>
      <p class="color-gray user-name"><span class="from">来自：用户@stupid</span><span>220 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
    </div>
    <div class="sentence-item">
      <p>Green commuting refers to a travel way with the minimal environmental impact.本句话是对“绿色出行”的 简单释义,用到了 referto这一短语。with引导的是方式状语。</p>
      <p class="color-gray user-name"><span class="from">来自：用户@lofj</span><span>120 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
    </div>
  </div>
  <img src="assets/img/note.png" (click)="toggleNotePage($event)">
</div>
<div id="chunk-page" [ngStyle]="{'left': deviceWidth+'px','width': deviceWidth-50+'px'}">
  <div class="side-page-content" padding>
    <h4>语块区</h4>
    <ion-icon ios="ios-settings" md="md-settings" (click)="toggleEditChunk()"></ion-icon>
    <h6>我的语块：</h6>
    <ul class="chunk-list">
      <li *ngFor="let chunk of myChunks">
        <span>{{chunk.cn}}<br>{{chunk.en}}</span>
        <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
      </li>
    </ul>
    <h6>推荐语块：</h6>
    <ul class="chunk-list">
      <li *ngFor="let chunk of chunks">
        <span>{{chunk.cn}}<br>{{chunk.en}}</span>
        <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
      </li>
    </ul>
  </div>
  <img src="assets/img/chunk.png" (click)="toggleChunkPage($event)">
</div> -->
<ion-footer>
  <ion-toolbar>
    <button ion-button (click)="complete()">学习完成</button>
    <button ion-button outline (click)="switchTrans()">
    译
  </button>
  </ion-toolbar>
</ion-footer>