<ion-header>
  <ion-navbar>
    <ion-title>篇章语块学习</ion-title>
    <ion-buttons end (click)="showAlert($event)">
      <button ion-button icon-only color="royal">
        <ion-icon name="md-bulb" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="passageEn" [innerHTML]="passageEn">
  </div>
  <div id="passageCn" [innerHTML]="passageCn" [hidden]="!showCn">
  </div>
</ion-content>
  <div id="note-page" [ngStyle]="{'right': deviceWidth+'px','width': deviceWidth-50+'px'}">
    <div class="side-page-content" padding>
      <h4>笔记区</h4>
      <textarea cols="40" rows="5"></textarea>
      <div style="text-align:center;">
        <a ion-button outline small icon-left center (click)="sentenceMaking('note')">
          <ion-icon name="ios-add-circle-outline"></ion-icon>
          添加笔记
        </a>
      </div>
       <h6>重点解析：</h6>
      <div class="sentence-item">
        <p>典型的三段式结构。首段,描述图画信息,释义绿色出行;拓展段,具体论述为什么要绿色出行以及 绿色出行所带来的好处;结尾段,发表自己的观点,强调指出每一个人都要重视绿色出行。
        </p>
      </div> 
      <h6>
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> 推荐用户笔记：</h6>
      <div class="sentence-item">
        <p>Green commuting has many advantages.这句话指出了绿色出行有很多好处。紧接着下文用了 On the one hand. On the other hand.以及 In adition来具体阐述绿色出行的三个好处,行文结构明确清晰。
          </p>
        <p class="color-gray user-name"><span class="from">来自：用户@stupid</span><span>220 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
      </div>
      <div class="sentence-item">
        <p>Green commuting refers to a travel way with the minimal environmental impact.本句话是对“绿色出行”的 简单释义,用到了 referto这一短语。with引导的是方式状语。</p>
        <p class="color-gray user-name"><span class="from">来自：用户@lofj</span><span>120 <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></span></p>
      </div>
    </div>
    <img src="assets/img/note.png" (click)="toggleNotePage($event)">
  </div>
  <div id="chunk-page" [ngStyle]="{'left': deviceWidth+'px','width': deviceWidth-50+'px'}">
    <div class="side-page-content" padding>
      <h4>语块区</h4>
      <ion-icon ios="ios-settings" md="md-settings" (click)="toggleEditChunk()"></ion-icon>
      <h6>我的语块：</h6>
      <ul class="chunk-list">
        <li *ngFor="let chunk of myChunks">
          <span>{{chunk.cn}}<br>{{chunk.en}}</span>
          <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
        </li>
      </ul>
      <h6>推荐语块：</h6>
      <ul class="chunk-list">
        <li *ngFor="let chunk of chunks">
          <span>{{chunk.cn}}<br>{{chunk.en}}</span>
          <ion-icon ios="ios-trash" md="md-trash" *ngIf="editChunk"></ion-icon>
        </li>
      </ul>
      <!-- <ion-list>
        <p ion-item *ngFor="let chunk of chunks">
          {{chunk.cn}}<br>{{chunk.en}}
        </p>
      </ion-list> -->
    </div>
    <img src="assets/img/chunk.png" (click)="toggleChunkPage($event)">
  </div>
  <ion-footer>
    <ion-toolbar>
      <button ion-button (click)="complete()">学完了</button>
      <button ion-button outline (click)="switchTrans()">
    译
  </button>
      <button ion-button outline (click)="addNote()">
      添加笔记
  </button>
      <button ion-button outline (click)="addChunk()">
    添加语块
  </button>
    </ion-toolbar>
  </ion-footer>