page-passage-learn {
    #passageEn,
    #passageCn {
        text-align: justify;
        margin-bottom: 10px;
        user-select: auto;
    }
    .chunk {
        text-decoration: underline;
        font-weight: bolder;
    }
    span.underline {
        text-decoration: underline;
        color: map-get($colors, 'primary')
    }
    ion-footer ion-toolbar .toolbar-content {
        padding: 0;
    }
    ion-footer button {
        min-width: 80px;
    }
    #note-page {
        background: #fff;
        position: absolute;
        height: 100%;
        top: 0px;
        z-index: 1; // ion-icon {
        //     position: absolute;
        //     top: 50%;
        //     right: -15px;
        //     font-size: 30px;
        // }
        textarea{
            border: 1px solid #999;
        }
        h4 {
            text-align: center;
        }
        h6 {
            color: map-get($colors, 'primary')
        }
        img {
            position: absolute;
            top: 50%;
            right: -15px;
            width: 30px;
        }
        box-shadow: 2px 1px 2px #999;
        .title {
            padding: 0 10px;
        }
        .color-gray {
            color: #666;
        }
        .labels {
            text-align: right;
        }
        .sentence-item {
            margin-bottom: 15px;
            p {
                margin: 5px 0;
            }
            .user-name {
                text-align: right;
            }
        }
        .sentence-item {
            margin-bottom: 15px;
            p {
                margin: 5px 0;
            }
            .user-name {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    #chunk-page {
        background: #fff;
        position: absolute;
        height: 100%;
        top: 0px;
        z-index: 1; // ion-icon {
        //     position: absolute;
        //     top: 50%;
        //     left: -15px;
        //     font-size: 30px;
        // }
        ion-icon[md="md-settings"] {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 25px;
        }
        .chunk-list {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0;
                border-bottom: 1px solid #666;
                font-size: 16px;
                ion-icon {
                    color: red;
                    font-size: 2 0px;
                }
            }
        }
        h4 {
            text-align: center;
        }
        h6 {
            color: map-get($colors, 'primary')
        }
        img {
            position: absolute;
            top: 50%;
            left: -15px;
            width: 30px;
        }
        box-shadow: -2px 1px 2px #999;
    }
    .side-page-content {
        overflow: scroll;
        height: 100%;
    }
    .submit-btn {
        top: 50px;
    }
    .toolbar-content {
        justify-content: center !important;
    }
}