<ion-header>
  <ion-navbar>
    <ion-title>主题语块学习</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-card>
    <ion-card-header>
        <span [ngSwitch]="status" class="float-right">
          <a *ngSwitchCase="'init'" (click)="screen()">筛选任务</a>
          <a *ngSwitchCase="'screening'" (click)="screenDone()">筛选完成</a>
        </span>  
        任务列表
        <span class="">
          <span style="color:green">3</span>／8
        </span> 
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let task of tasks;let i = index">
        <ion-icon name="checkmark" style="font-size:30px;color:green;margin-right:10px;font-weight:bolder" [hidden]="i>2"></ion-icon>
        <ion-icon name="checkmark" style="font-size:30px;color:transparent;margin-right:10px;font-weight:bolder" [hidden]="i<=2"></ion-icon>
        <div style="display:inline-block;width: 90%;overflow: auto;text-overflow: ellipsis;">{{task.en}}<br>{{task.cn}}</div>
        <div>
          <button ion-button color="danger" *ngIf="status == 'screening'" class="float-right">
            太熟了
          </button>
          <!-- <button ion-button color="dark" *ngIf="status == 'screening'" class="float-right">
            太难了
          </button>  -->
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="itemTapped($event, item)">开始学习</button>
  </ion-toolbar>
</ion-footer>