page-word-test {
    ion-col {
        a {
            padding: 10px;
            border: 1px solid #ddd;
            display: flex;
            text-align: center;
            justify-content: center;
            background: #fff;
            border-radius: 5px;
            font-weight: bolder;
        }
    }
    .underline {
      margin: 0 2px;
      border-bottom: 1px solid #000;
      min-width: 8px;
      display: inline-block;
      text-align: center;
      color: transparent;
    }
    .right-letter {
      color: green;
    }
    .wrong-letter {
      color: red;
    }
    .disabled{
      a{
        background: #f9f9f9;
        border: 1px solid lighten(#ddd, 20%);
        color: lighten(map-get($colors, 'primary' ) , 20%)
      }
    }
    #writing-word-question{
      margin-bottom: 10px;
    }
}