<ion-header>
  <ion-navbar>
    <ion-title>任务学习</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="medal-progress">
       <div class="medal-progress-content" style="background-color:#499142;width:0%"><div class="text-container">
        <span class="progress-text"></span></div></div> 
      <div class="medal-progress-content" style="background-color:#7CCD7C;width:10%"><div class="text-container">
        <span class="progress-text">1</span></div></div>
        <div class="medal-progress-content" style="background-color:#999;width:90%"><div class="text-container">
        <span class="progress-text">7</span></div></div>
       <div class="medal-progress-content" style="background-color:#D04335;width:0%"><div class="text-container">
        <span class="progress-text"></span></div></div> 
    </div>
      <span style="position: absolute;top: 30px;right: 10px;color: #999"><ion-icon name="bulb"></ion-icon>请先思考英文表达，再对比答案</span>
      <div style="position: absolute;top: 27px;left: 20px;display:flex;display: flex;align-items: center;" *ngIf="!enShow || (enShow && !sentenceEnShow)"><img src="assets/img/count-down.png" style="width: 25px"><span style="padding-left:10px"> 3s</span></div>

  <div style="margin-top:100px;margin-bottom:50px">
    <h3 text-center>
      清理
    </h3>
    <button small ion-button style="position: absolute;right: 50px" *ngIf="!enShow" (click)="showEn()">查看英文</button>
  </div>

  <ion-card>
    <ion-card-header *ngIf="enShow">
      <ion-grid>
        <ion-row>
          <ion-col col-11>
            <div>
              <h3><span (click)="showDict()" [ngClass]="{'color-yellow': dict}">clean</span> up</h3>
              <!-- <p>adj. 卓越的；极好的；杰出的</p> -->
            </div>
          </ion-col>
          <ion-col class="icon">
            <!-- <ion-icon name="md-add-circle" item-end (click)="presentToast('单词本')"></ion-icon> -->
            <ion-icon ios="ios-volume-up" md="md-volume-up" style="color:#488aff;font-size: 20px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button small ion-button style="position: absolute;right: 50px;top:280px;" *ngIf="!sentenceShow" (click)="showSentence()">查看例句</button>
    </ion-card-header>
    <ion-card-content *ngIf="sentenceShow">
      <ion-grid>
        <ion-row>
          <ion-col col-11>
            <div>
              <p>这不仅仅<span class="highlight">清理</span>了地球周围的环境，对企业家来说还有可能是一个有利可图的生意。清理干净.</p>
              <p *ngIf="sentenceEnShow">Not only could we <span class="underline highlight">clean</span> <span class="underline highlight">up</span> the atmosphere around the earth but could possibly be a money making mission for entrepreneurs.</p>
            </div>
          </ion-col>
          <ion-col class="icon">
            <ion-icon ios="ios-volume-up" md="md-volume-up" style="color:#488aff;font-size: 20px;"></ion-icon>
            <!-- <ion-icon name="md-add-circle" item-end (click)="presentToast('笔记本')"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <button small ion-button style="position: absolute;right: 50px;top:330px" *ngIf="!sentenceEnShow && sentenceShow" (click)="showSentenceEn()">查看英文</button>
  </ion-card>

</ion-content>
  <ion-footer>
  <ion-toolbar>
    <button ion-button left (click)="know()">
        太熟了
      </button>
    <button ion-button right (click)="next()">
        下一个
      </button>
  </ion-toolbar>
</ion-footer>  
  <ion-footer style="background:#fff;padding:20px 20px 20px 100px;box-shadow:1px -3px 10px #999;" *ngIf="dict">
    <ion-icon name="close" style="position:absolute;right:10px;top:10px;color:#488aff;font-size: 30px;" (click)="closeDict()"></ion-icon>
    <h4>clean</h4>
    英 [kliːn] <ion-icon ios="ios-volume-up" md="md-volume-up" style="color:#488aff;font-size: 20px;"></ion-icon>  &nbsp;&nbsp;&nbsp;  美 [klin] <ion-icon ios="ios-volume-up" md="md-volume-up" style="color:#488aff;font-size: 20px;"></ion-icon><br><br>
    adj. 清洁的，干净的；清白的<br>
    vt. 使干净<br>
    vi. 打扫，清扫<br>
    adv. 完全地<br>
    n. 打扫<br>
    n. (Clean)人名；(英)克林<br>
</ion-footer>  