page-hello-ionic {

}

ion-footer {
    ion-toolbar {
        .toolbar-content{
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
        }
    }
}

ion-content{
 background: #F9F9F9 !important; 
}